.clear-fix {
  content: "";
  clear: both;
  display: table;
}

.snake {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid pink;
}

.row {
  content: "";
  clear: both;
  display: table;
}

.tile {
  float: left;
  height:8px;
  width:8px;
  border:1px solid rgb(238, 238, 238);
}

.tile--red {
  background-color: red;
}

.tile--grey {
  background-color: grey;
}

.tile--black {
  background-color: #5d5d5d;
}


/*
.row {
  height: 10px;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tile {
  display: table-cell;
  border: 1px solid red;
}
*/

.button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ece7e7;
  cursor: pointer;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 40px;
  margin-left: -50px;
  margin-top: -20px;
}

.restart-button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.message-box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 1px solid #ece7e7;
}

dl.top-scores {
  border: 3px double #ccc;
  padding: 0.5em;
  max-width: 330px;
  height: 200px;
  border: 1px solid #ece7e7;
  margin: 20px auto;
  text-align: right;
  overflow: scroll;
}

.top-scores dt {
  float: left;
  clear: left;
  text-align: right;
}

.top-scores dd {
  margin: 0 0 0 110px;
  padding: 0 0 1px 0;
}
